:root {
  --color-primary: #f2f2f2e0;
  --color-primary-dark: rgb(28, 1, 63);
  --color-primary-light: rgb(230, 163, 163);
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --border: 1 px solid rgb(114, 9, 9); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to top, var(--color-primary-light), var(--color-primary-dark));
  color: var(--color-primary);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  min-height: 100vh; }

.header {
  font-size: 3.5rem;
  margin: 25rem 0 0 0;
  text-align: center;
  padding: 2.5rem;
  text-transform: uppercase;
  transition: all .2s; }

.form {
  font-size: 2rem;
  text-align: center; }

.search {
  display: flex;
  align-items: center;
  justify-content: center; }
  .search_input {
    font-family: inherit;
    font-size: inherit;
    color: var(--color-primary-dark);
    margin-right: -3.75rem;
    padding: 1.25rem 2rem;
    width: 18%;
    border: none;
    border-radius: 10rem;
    background-color: var(--color-grey-light-4);
    transition: all .3s; }
    .search_input:focus {
      width: 19%;
      outline: none; }
    .search_input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-primary-dark); }
  .search_input:focus + .search_button:focus {
    outline: none; }
  .search_button {
    background-color: var(--color-grey-light-4);
    border: none;
    margin-top: .45rem; }
    .search_button:focus {
      outline: none; }
    .search_button:active {
      transform: translateY(0.4rem); }
  .search_icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-primary-dark); }

.results {
  padding: 2rem; }
