:root {
   --color-primary: #f2f2f2e0;
   --color-primary-dark: rgb(28, 1, 63);
   --color-primary-light: rgb(230, 163, 163);

   --border: 1 px solid rgb(114, 9, 9);
}

* {
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%
}

body {
   background-image: linear-gradient(to top, var(--color-primary-light), var(--color-primary-dark));
   color: var(--color-primary);
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   line-height: 1.6;
   min-height: 100vh;
}

.header {
   font-size: 3.5rem;
   margin: 2rem;
   text-align: center;
   padding: 2.5rem;
   text-transform: uppercase;
   transition: all .2s;

   &_button {
      display: flex;
      justify-content: center;
   }
}

.btn {
   background-color: var(--color-primary);
   border: none;
   border-radius: 15rem;
   margin: 4rem 0;
   padding: 1.5rem;
   text-transform: uppercase;
   box-shadow: .4px .7px 16px rgb(21, 1, 51);
   color: var(--color-primary-dark);
}

.btn:hover{
   cursor: pointer;
}

.btn:active {
   transform: translateY(3px);
}

.btn:focus {
   outline: 0 !important;
}
